ul {
  list-style: none;
}

li {
  margin-bottom: 20px;
}

.check-container {
  position: relative;
  display: block;
}

.hideshow {
  display: inline-block;
}

.checkhidden {
  display: none;
}
